
<div class="section" id="<%= category.underscore %>" 
     style="overflow:auto;background:url('<%= image_path("products/#{category}.png") %>') bottom right no-repeat;">
  <h2><%= category %></h2>
  <ul style="font-size:0.5em;">
    <% products.each_with_index do |product, id| %>
      <% product_dom_id = [category, 'product', id].join('_') %>
      <li>
        <b><%= product['title'] %></b>: <%= product['description'] %>
        <% if product['video'] %>
          <%= link_to_function 'video', "$('#{product_dom_id}_video').toggle();" %>
          <div id="<%= "#{product_dom_id}_video" %>" style="min-height:100px;display:none;">
            <% for video in product['video'] %>
              <h3><%= video['title'] %></h3>
              <%= youtube_video(video['youtube_code'], locale) %>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
