<p style="font-size:150%;line-height:150%;">
  <%=t 'index.what' %> <%= link_to t('index.production'), services_path+'#'+t(:production) %>. <br />
  <%=t 'index.many' %> <%= link_to t('index.services'), services_path %></a>.
</p>
<p style="line-height:150%;">
  <%=t 'index.where' %>, 
  <%= link_to t('index.distance'), macok_gmaps_url, :target => '_blank' %>
</p>
