#portfolio_container.glider
  .controls
    %h3
      = t('portfolio.our_clients').upcase
      \:
    - @works_per_client.each do |(client, works)|
      - css_classes = [client.to_s+'_link', client == @works_per_client.first.first ? 'active' : nil].compact.join(' ')
      \&nbsp;&nbsp;
      = link_to t(:client_name, :scope => [:portfolio, :clients, client]), "##{client}", :class => css_classes

  %br
  %div{ :style => "clear:both;" }
  %center
    .scroller
      .content
        - @works_per_client.each do |(client, works)|
          .section{ :id => client }
            %h2
              = t :client_name, :scope =>  [:portfolio, :clients, client]
            - works.each_with_index do |work, index|
              %h2
                = t :title, :scope => [:portfolio, :clients, client, :works, "work_#{index}"]
              %small
                = t :note,  :scope => [:portfolio, :clients, client, :works, "work_#{index}"]
              %p
                = t :description,  :scope => [:portfolio, :clients, client, :works, "work_#{index}"]
              %div{ :style => "clear:both;" }
= image_tag 'left_arrow.gif',  :class => 'imgLink', :alt => '&larr;', :onclick => 'portfolio_glider.previous(); return false;'
= image_tag 'right_arrow.gif', :class => 'imgLink', :alt => '&rarr;', :onclick => 'portfolio_glider.next();     return false;'
