<div id="products_container" class="glider">
  <div class="controls">
    <% categories = @products_per_category.keys %>
    <% for category in categories %>
      <div><%# this div serves to avoid the "duplicated text IE6 bug" %>
      <%= link_to category.humanize, "##{category}", 
        :class => (category == categories.first ? 'active ' : '')+"#{category}_link" %>
      </div>
    <% end %>
  </div>
  <div style="clear:both;"></div>
  <div class="scroller">
    <div class="content">
      <% for category in categories %>
        <%= render :partial => 'products', :locals => {:category => category, :products => category[:products]} %>
      <% end %>      
    </div>
  </div>
</div>
<%= image_tag 'left_arrow.gif',  :class => 'imgLink', :alt => '&larr;', :onclick => 'products_glider.previous();return false;' %>
<%= image_tag 'right_arrow.gif', :class => 'imgLink', :alt => '&rarr;', :onclick => 'products_glider.next();return false;' %>

<script type="text/javascript" charset="utf-8">
var products_glider = new Glider('products_container', {duration:0.5, lastActiveElement: "<%= categories.first %>"});
</script>
