<div id="services_container" class="glider">
  <div class="controls">
    <% @services.each do |service| %>
      <%= link_to t(:title_short, :scope => [:services, service.first], :default => :title), 
                  "##{t(:id, :scope => [:services, service.first])}", 
                  :class => (service == @services.first ? 'active ' : '')+
                            "#{t(:id, :scope => [:services, service.first])}_link" %>
    <% end %>
  </div>
  <div style="clear:both;"></div>
  <center>
    <div class="scroller">
      <div class="content">
        
        <%= render :partial => 'service', :collection => @services %>
        
    </div>
  </div>
</center>
</div>
<%= image_tag 'left_arrow.gif',  :class => 'imgLink', :alt => '&larr;', :onclick => 'services_glider.previous();return false;' %>
<%= image_tag 'right_arrow.gif', :class => 'imgLink', :alt => '&rarr;', :onclick => 'services_glider.next();return false;' %>

<script type="text/javascript" charset="utf-8">
var services_glider = new Glider('services_container', {duration:0.5, lastActiveElement: "<%=t 'services.video_production.id' %>"});
</script>
