<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//IT"
			 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag     'screen',     'glider',             :cache => true %>
	<%= javascript_include_tag  'prototype',  'effects', 'glider',  :cache => true %>
	<title>MACOK <%=t :cinevideoservices %> ~ <%=t @title || controller.action_name %></title>
	
	<!--[if lt IE 7]>
		<style type="text/css" media="screen">
			body {padding-top: 30px;}
			#sections {width:724px;}
			#services_container .controls a:hover{
			 color:black;
			 text-decoration:none;
			}
			#services_container .content li{
				margin-bottom:0.5em;
			}
		</style>
	<![endif]-->
	
</head>
<body>
	<div id="header" style="text-align:center;margin:0 auto;">
		<h1 style="margin-bottom:0;"><%= link_to image_tag('logo_emb.gif', :alt => 'MACOK Logo'), root_path %></h1>
		<h2 style="margin-top:0;"><a href="index.html" style="line-height:140%;">
			MACOK <%=t :cinevideoservices %><br />
			&ldquo;<%=t :slogan %>&rdquo;
		</a></h2>
	</div>
<div style="background: url('../images/top_shadow.gif') repeat-x bottom;">
	<div id="sections" style="clear:both;">
	  <%= section_links :about, :services, :portfolio, :contacts %>
		<div style="clear:both;"></div>
	</div>
</div>
<div style="clear:both;background: url('../images/central_shadow.gif') no-repeat top center;">
	<br />&nbsp;<br />
</div>
<div style="clear:both;"></div>

<div id="container" style="clear:both;">
	<div id="subsections">
		
	</div>
	<div id="content">


<%= yield %>



<div id="footer">
  <p>
    <!-- <br /> -->
    
		<a href="http://macok.com/">MACOK <%= t :cinevideoservices %></a> 
		<span class="pi"><%=t :tax_code, :tax_code => '02235090962' %></span>
		
    &rarr; <%=with_locale((language == 'it') ? 'en-US' : 'it-IT'){|locale| t 'language.version', :link => link_to_language(locale)} %>
		<!-- <%= link_to_language((language == 'it') ? 'en-US' : 'it-IT') %> -->
		
		<br />
		<a href="mailto:macok58@tiscali.it">macok58@tiscali.it</a> &mdash;
		<a href="contatti.html">Tel:   02 92 151 964</a> &mdash;
		<a href="contatti.html">Fax:   02 92 502 183</a>
		<br />
		<a target="_blank" href="http://maps.google.com/maps?f=q&amp;hl=it&amp;q=MACOK+loc%3A+Via+Toscana,+10a+carugate+MI+italy&amp;ie=UTF8&amp;ll=45.550602,9.334388&amp;spn=0.003817,0.010042&amp;z=17&amp;iwloc=A&amp;om=1">
			Via Toscana, 10/a &mdash;
			20061 Carugate MI
		</a>
		<br />
		<span class="author"><a href="http://elia.wordpress.com/" title="Design and Programming: Elia Schito">
			Eli&aelig; Societas Design
		</a></span>
	</p>
</div>
</body>
</html>
<!-- end tminclude -->
