<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//IT"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag     'screen',     'glider',             :cache => true %>
  <%= javascript_include_tag  'prototype',  'effects', 'glider',  :cache => true %>
  <title>Aldo Maietti | <%= controller.action_name.humanize %></title>
  
  <!--[if lt IE 7]>
    <style type="text/css" media="screen">
      body {padding-top: 30px;}
      #sections {width:763px !important;}
      #services_container .controls a:hover{
       color:black;
       text-decoration:none;
      }
      #services_container .content li{
        margin-bottom:0.5em;
      }
    </style>
  <![endif]-->
  
</head>
<body>
  <!-- <div id="top_locales" class="locales">
    <%#= render :partial => 'locales' %>
  </div> -->
  
  <div id="header">
    <h1>
      <%= link_to image_tag('logo.png', :alt => 'Aldo Maietti'), url_for(:action => nil, :locale => locale) %>
    </h1>
  </div>
  
<div id="sections_wrapper">
  <div id="sections" class="page_width">
    <%#= section_links :index, :bio, :sheets %>
    <div style="clear:both;"></div>
  </div>
</div>
<!-- <div s_tyle="clear:both;background: url('../images/central_shadow.gif') no-repeat top center;">
  <br />&nbsp;<br />
</div> -->
<div style="clear:both;"></div>

<div id="container" class="page_width">
  <div id="subsections">
    
  </div>
  <div id="content">


<%= yield %>


<div style="clear:both;"></div>
<div id="footer">
  <p>
    &nbsp;&nbsp;&nbsp;<a href="http://aldomaietti.com/">AldoMaietti.com</a> 
    &mdash;
    <%= mail_to 'info@aldomaietti.com' %> 
    <br />
    <span class="author"><a href="http://elia.wordpress.com/" title="Design and Programming: Elia Schito">
      Eli&aelig; Societas Design
    </a></span>
  </p>
</div>
</body>
</html>
<!-- end tminclude -->
